
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.App{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family:'Dongle', Arial, Helvetica, sans-serif;
}
